    <!-- Page Content -->
    <!-- <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12" align="center">
              <%= image_tag("logo.png") %>
          </div>
      </div> -->
<!--
      <br> -->

      <!-- <div id="headerwrap">
  	    <div class="container">
  			<div class="row">
  				<div class="col-lg-12">
            <img src="/landing.png" alt="SnapScan_Deals" style="width:100%">
          </div>
  			</div>
        </div>
  	   </div> -->

      <div id="headerwrap">
  	    <div class="container">
    			<div class="row">
    				<div class="col-lg-12">
              <h1>SNAPSCAN DEALS</h1>
    					<h5>The party is starting now.</h5>
            </div>
          </div>
  			</div>
      </div>

    <!-- *****************************************************************************************************************
     LOCATIONS
     ***************************************************************************************************************** -->
     <div id="service">
      <div class="container">
        <div class="row centered">
          <% @locations.each do |location| %>
            <div class="col-md-4">
                <a href="<%= location.short_url %>">
                    <%= image_tag location.map_image %>
                </a>
                <h4><a href="<%= location.short_url %>" class="btn btn-theme-2"><%= location.name %> Deals</b></a></h4>
                <!-- <p>Hipsters, hotdogs, mountains and sea.</p> -->
                <!-- <p><br/><a href="#" class="btn btn-theme-2">Get hip.</a></p> -->
            </div>
          <% end %>
        </div>
      </div><! --/container -->
     </div><! --/service -->


      <!-- ORIGINAL -->
      <!-- <div class="row">

          <% @locations.each do |location| %>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <a href="<%= location.short_url %>">
                        <%= image_tag location.map_image %>
                    </a>
                    <div class="ratings">
                        <p align="center">
                            <br>
                            <a href="<%= location.short_url %>" class="btn btn-primary"><%= location.name %> Deals</b></a>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
    </div> -->
